<?xml version="1.0"?>
<launch>

     <!-- joy node -->
    <node respawn="true" pkg="joy"
        type="joy_node" name="ukaea_joy" >
        <param name="dev" type="string" value="/dev/input/js0" />
        <!-- <param name="deadzone" value="0.12" /> -->
    </node>

    <!--Launch move_group -->
    <include file="$(find panda_moveit_config)/launch/demo.launch"> 
    </include>

</launch>